<%= nested_form_for @group do |f| %>
<%= f.label :group_name %>
 <%= f.text_field :group_name,:required => true %>
 <br>
<%= f.label :user_id, 'メンバー' %>
<%= f.fields_for :members, @group.members do |f| %>

<%= render "member_form", f:f %>
  <% end %>
  <p>
    <%= f.link_to_add "メンバーをさらに追加", :members %>
  </p>

    <%= f.submit '作成'%>

<% end %>