

<%= link_to "新しいグループ目標を設定", "/groups/#{params[:id]}/goals/new", id:'yellowc'%>

  <p class="grouptitle"><%= @group.group_name%>の目標一覧</p>

<div class="goaldeclaration">

<% @goals.each do |goal| %>

<% if (goal.deadline - Date.today).to_i>=0 %>
<p class="goaltitle"><%= link_to goal.goal_name, "/groups/#{params[:id]}/goals/#{goal.id}" %>
:
<%= goal.deadline.month %>月<%= goal.deadline.day %>日まで
  残り<%=(goal.deadline - Date.today).to_i%> 日</p>
<% end %>
<% end %>

  </div>




<div class="members">
  <p class='mtitle'>メンバー</p>
<% @members.each do |m| %>
  <p class='text'><%= @users.find(m.user_id).name %></p>

<% end %>
  </div>

<div class="members">
  <p class='mtitle'>承認待ちのメンバー一覧</p>
<% @nonmembers.each do |m| %>
 <p class='text'> <%= @users.find(m.user_id).name %></p>

<% end %>
  </div>





<script>

$(".inputtrack" ).dialog({
  autoOpen: false,
  height:500,
  width: 600,
   });
  $("#progress").click(function(){
  $(".inputtrack").dialog("open");
  });

  $(".inputtrack").submit(function(){
  $(this).dialog("close");
  });</script>
