

<%= link_to "新しいグループ目標を設定", "/groups/#{params[:id]}/goals/new" %>


<div class="goaldeclaration">
<% @goals.each do |goal| %>
<% if (goal.deadline - Date.today).to_i>=0 %>
<%= link_to goal.goal_name, "/groups/#{params[:id]}/goals/#{goal.id}" %>
:
<%= goal.deadline.month %>月<%= goal.deadline.day %>日まで
残り<%=(goal.deadline - Date.today).to_i%> 日

<br>
<% end %>

  </div>

  <div class="completed">
  終了した目標一覧
<% @goals.each do |goal| %>
<% if (goal.deadline - Date.today).to_i<=0 %>
<%= link_to goal.goal_name, "/groups/#{params[:id]}/goals/#{goal.id}" %>


<br>
<% end %>
<% end %>

  </div>

<% end %>



<div class="memberlist" div>
メンバー
<br><% @members.each do |m| %>
<%= @users.find(m.user_id).name %><br>

<% end %>
  </div>
<div class="non_memberlist" div>
承認待ちのメンバー一覧
<br><% @nonmembers.each do |m| %>
<%= @users.find(m.user_id).name %><br>

<% end %>

  </div>

<script>

$(".inputtrack" ).dialog({autoOpen: false });
  $("#progress").click(function(){
  $(".inputtrack").dialog("open");
  });

  $(".inputtrack").submit(function(){
  $(this).dialog("close");
  });</script>
