<div class="mygoals">
  <p class="usertitle"><%= @name %> さんの目標一覧!</p>

  </div>
  <div class="invitation_container">
  <% if @user.id==current_user.id %>
  <% if @status==true %>
<div class="grouppending">


<p>以下のグループからの招待が来ています</p>
<% @nonmembers.each do |member| %>

  <div class="invitation">
  <p class="goaleach">
<%= Group.find(member.group_id).group_name %><br>
  <p class="shonin"><%= link_to "承認する", "/groups/#{member.group_id}/users/#{current_user.id}", method: :get ,class:"sbottom"%></p>
  </p>
  </div>

<% end %>
<% end %>
<%end %>
  </div>


  </div>

<div class="mygoalslist">
  <p class="user_title">個人の目標</p>
<% @personal_goals.each do |goal| %>
<p class="goaleach">
  <%= link_to goal.goal_name, "/users/#{@user.id}/goals/#{goal.id}", method: :get %>
  </p>
<% end %>
  </div>


<div class="mygoalslist">
 <p class="user_title">グループの目標</p>

<%@currentgroup.each do |c| %>
  <%@goals=Goal.where(group_id: c)%>
   <% @goals.each do |g| %>
   <p class="goaleach">
 <%= link_to g.goal_name, "/groups/#{g.group_id}/goals/#{g.id}", method: :get %></p>
   <%end %>
   <% end%>
