
<html>
  <head>
    <title>仲良し５人組</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>





  </head>

<body>


     <header class="header">
    <div class="header__bar row">
      <h1 class="headingtitle"><a href="/">仲良し５人組</a></h1>


<div class="dropdown">
  <button class="btn1 btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
メニュー
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
    <li><%= link_to "top", "/", :class => 'get' %></li>
    <li> <%= link_to "about", "/tops/index/about", :class => 'get' %></li>
    <% if user_signed_in? %>
    <li> <%= link_to '目標設定', new_user_goal_path(user_id: current_user.id) %></li>
    <li> <%= link_to 'マイページ', user_path(id: current_user.id) %></li>
    <li> <%= link_to 'グループ設定',new_group_path %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to "ログイン", new_user_session_path, :class => 'post' %></li>
  <li><%= link_to "新規登録", new_user_registration_path, :class => 'post' %></li>
      <% end %>
      </ul>
    </div>

 
    </div>
  </header>

    <%= yield %>

    <footer>
      <p class="footer">
        Copyright 仲良し５人組２０１６
      </p>
    </footer>
  </body>
</html>
